
    /*border: 1px solid black;
    padding: 0.25rem;
    margin: 0.25rem; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */
nav .home{
    float:left;
    padding-left:30px;
}
.home .logo{
    width:200px;
    height:150px;

}
nav .home .products{
    margin-right:450px;
    
}

nav {
    padding-top:20px;
    width:100%;
    min-height:170px;
    text-align: right;
    background: #e6e8e5;
    padding-right:30px;
    

}
nav a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 2vw;
    color:#000000;
    padding:0.5rem;
    
    
}
nav a:hover{
    color:#cfcfcf;
    background:#000000;
    border-radius:1rem;
    transition:all 0.5s ease-out;
}
nav img {
    width: 30px;
    height:30px;
    float:right;
    
}
/* nav img:hover{
    background-color:#dfdfdf;
    border-radius:1rem;
    /* padding:1vw; */
   /* transition:all 0.5s ease-out; */

.img-link:hover,
.img-link{
    padding:0;
}
.home-page .home-link,
.product-page .products-link,
.login-page .login-link,
.register-page .register-link, 
nav a:hover{
    color:#cfcfcf;
    background:#000000;
    border-radius:1rem;
    transition:all 0.5s ease-out;
}