* {
    background-color: #cfcfcf;}
    /*border: 1px solid black;
    padding: 0.25rem;
    margin: 0.25rem; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} */
nav .home{
    float:left;
}


nav{

    width:100%;
    min-height:150px;
    text-align: right;
    background: #cfcfcf;
    

}
nav a{
    text-decoration: none;
    font-size: 25px;
    margin-right: 2vw;
    color:#000000;
    
    
    
}
nav a:hover{
    color:#cfcfcf;
    background:#000000;
    border-radius:2vw;
    padding:1vw;
    transition:all 0.5s ease-out;
}
nav img {
    width: 30px;
    height:30px;
    float:right;
}
nav img:hover{
    background-color:#dfdfdf;
    border-radius:2vw;
    padding:1vw;
    transition:all 0.5s ease-out;
}
