.content{
    min-height: 100rem;
    font-size:0;
}
.product,
.product-list,
.filter{
    vertical-align: top;
    display: inline-block;
    font-size: 1rem;

}

.filter{
    min-width: 30%;
    min-height: 100rem;
}
.product-list{
    min-height: 100rem;
    width:70%;
}
.product {
    min-width: 30%;
    min-height: 12rem;
}
.photo{
    width:200px;
    height:250px;
}


